.statistic {
    width: 202px;
    height: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    list-style: none;
    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    span {
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
    }
}